
.view-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
}

.splash-text {
  position: absolute;
  padding: 0 50px;
  color: #fff;
  bottom: 20px;
  right: 20px;
}

.below-splash-box {
  line-height: 30vh;

}

.below-splash-box > div > h2 {
  margin: 0;
}

.background {
  position: relative;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.overlay {
  height: 100px;
  width: 20vw;
  margin-top: 101vh;
  margin-bottom: 101vh;
  /*Below styles may change*/
  background-color: #39e;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    overflow: auto;
}
