/*.scroll {
  position: relative;
  z-index: 1;
}*/


.view-wrapper {
  position: fixed;
  top: 0;
  /*left: 5%;*/
  width: 100%;
  /*overflow: scroll;*/
}

.background {
  position: relative;
  height: 100vh;
  background: url('/images/background-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*#view-1 .background {
  background: url('/images/background1.jpg');*/
  /*background-size: cover;
  background-position: center;
  background-attachment: fixed;*/
/*}*/

#view-2 {
  display: none;
}

.overlay {
  /*position: absolute;*/
  /*top: 500px;*/
  height: 100px;
  width: 20vw;
  margin-top: 101vh;
  margin-bottom: 101vh;
  /*Below styles may change*/
  background-color: #39e;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
	margin: 0;
    overflow: auto;
}
